{% load static %}
 <!doctype html>
{% block content %}
<header class="header">
  <div class="overlay">
  <div class="form-group">
              <form method="POST">
              {% csrf_token %}
                <input type="text" required placeholder="Скорость точек" name="speed"><br>
                 <input type="text" required placeholder="Кол-во точек" name="count"><br>
                <button type="submit" class="btn btn-primary" >Сохранить</button>
</div>
<div class="graphic">
{% if chart %}
    <img src="data:image/png; base64", {{ chart }}>
    <a>graph exist</a>
{% else %}
 <a>Тут должен быть</a>
{% endif %}

</div></div>
</header>


{% endblock content %}
</body>
</html>


